.header {
    margin: 0 auto;
    padding: 0;
    background-color: #1B54DD;
}

.container{
    width: auto;
    margin: 0 auto;
    background-color: #1B54DD;
    ;
}

.nav {
    text-transform: uppercase;

    position: absolute;
    width: 100px;
    height: 66px;
    left: calc(50% - 100px/2);
    top: 32px;


}