.header {
    margin: 0 auto;
    padding: 0;


}

.container {
    width: 600px;
    height: 130px;

    /* Brand color */
    background: #1B54DD;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav {
    text-transform: uppercase;
    position: absolute;
    width: 100px;
    height: 66px;
    left: calc(50% - 100px/2);
    top: 32px;
}

.hidelogo {
    /* DUNDER MIFFLIN */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 16%;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 900;
    font-size: 31.5789px;
    line-height: 28px;
    /* or 88% */
    text-align: center;

    /* White */
    color: #FFFFFF;
}

.botlogo {
    /* Paper Company */

    position: absolute;
    left: 0.66%;
    right: 1.32%;
    top: 86%;
    bottom: 0%;

    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-size: 9.21053px;
    line-height: 9px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 1.64474px;
    text-transform: uppercase;

    /* White */
    color: #FFFFFF;


}